.overlay {
    background: linear-gradient(180deg, rgba(27, 74, 167, .9) 0%, rgba(17, 54, 128, .9) 80%);
    background: -moz-linear-gradient(180deg, rgba(27, 74, 167, .9) 0%, rgba(17, 54, 128, .9) 80%)
}

.title {
    text-align: left;
    font: normal normal 600 40px/48px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    padding-left: 0 !important;
    margin-top: 3.75rem;
    margin-bottom: 0;
}

.description {
    text-align: left;
    font: normal normal 600 16px/22px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin: 0 !important;
    padding: 0 0 1rem !important;
}

.description2 {
    text-align: left;
    font: normal normal normal 16px/18px Work Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin: 2rem 0 0 !important;
    padding: 0 0 .5rem !important;

}

a {
    border-radius: 30px;
    padding: .7em 2em;
    color: #fff !important;
    border: 2px solid #ffffff;
    background-color: rgba(255, 255, 255, 0);
    font-size: 1rem !important;
    font-family: Work Sans, sans-serif;
    font-weight: 500;
    transition: background-color .4s ease-in;
    -moz-transition: background-color .4s ease-in;
    -webkit-transition: background-color .4s ease-in
}

a:hover {
    background-color: #fff;
    border: 2px solid #004884;
    color: #004884 !important;
    transition: background-color .4s ease-out;
    -moz-transition: background-color .4s ease-out;
    -webkit-transition: background-color .4s ease-out
}

span {
    text-align: left;
    font: normal normal normal 16px/18px Work Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}


@media only screen and (min-width: 320px) and (max-width: 768px) {

    .title {
        font-size: 1.5rem !important;
        line-height: 2.25rem !important;
        letter-spacing: 0rem !important;
        margin-top: 3.75rem !important
    }

    .description {
        font-size: .875rem !important
    }

    .description2 {
        font-size: .875rem !important;
        margin: 0 !important
    }

}