<div attr.aria-label="{{this.textoDescriptivo}}" style="background-image: url({{this.urlImagen}});">
  <div class="overlay">
    <div class="container">
      <div class="row w-100 m-0 no-gutters pb-4">
        <div class="col-lg-8 col-md-12 col-sm-12">
          <div class="text-left">
            <h1 class="title">{{databanner.textoBienvenida}}
            </h1>
          </div>
          <div>
            <p class="description ml-5" attr.aria-label="{{databanner.textoBuscador}}">
              {{databanner.textoBuscador}}</p>
          </div>
          <div class="text-left mt-5">
            <p class="description2 ml-5 px-0" attr.aria-label="{{databanner.textoAuxiliar}}">
              <span>{{databanner.textoAuxiliar}}</span>
            </p>
          </div>
          <div class="pb-3"><a role="button" class="btn btn-round" href="{{databanner.urlBotonAuxiliar}}"
              target="">{{databanner.textoBotonAuxiliar}}</a></div>
        </div>
      </div>
    </div>
  </div>
</div>