footer {
    width: 100%;
    height: auto;
    background: #3366CC 0% 0% no-repeat padding-box;
    opacity: 1;
}

.frow {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

}

.panel-uno {
    padding-left: 0;
    padding-right: 30px;
}

.panel {
    border-left: 1px solid #fff;
    border-top: 0px solid #fff;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.text {
    font: normal normal 400 14px/22px Work Sans;
    color: #fff !important;
    word-wrap: break-word;
}


h5 {
    margin-bottom: 1rem;
    text-align: left;
    font: normal normal 600 25px/24px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
}

h6 {
    margin-bottom: 1rem;
    text-align: left;
    font: normal normal 600 16px/24px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

p {
    margin-bottom: 0;
    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

a {
    text-align: center;
    text-decoration: underline;
    font: normal normal medium 14px/22px Work Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
}

b {
    color: #FFFFFF !important;
}

li {
    text-align: left;
    letter-spacing: 0.1px;
    color: #FFFFFF !important;
    opacity: 1;
}

ul {
    padding-left: 1rem !important;
}

.aux-centro {
    margin-top: -0.6rem;
}

@media only screen and (min-width: 320px) and (max-width: 992px) {
    .panel {
        border-top: 1px solid #fff;
        border-left: 0px solid #fff;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}