<div class="card border-0">
  <div class="card-body container-lg">

    <div>
      <h2 aria-label="A continuación encontrará la sección de Contactos de emergencia">Contactos de
        emergencia</h2>
      <p>Llama a las líneas de atención correspondientes a tu
        necesidad.</p>
    </div>

    <div>
      <ul pl-5 mt-2>
        <li><span class="icon number">123</span> Línea Única de Atención
          de Emergencias </li>
        <li><span class="icon number">132</span> Línea Cruz Roja </li>
        <li><span class="icon number">167</span> Línea Antinarcóticos
        </li>
        <li><span class="icon number">144</span> Línea Defensa Civil
        </li>
        <li><span class="icon number">165</span> Línea Antisecuestro y
          Antiextorsión </li>
        <li><span class="icon number">#767</span>Línea Seguridad Vial
        </li>
        <li><span class="icon number">155</span> Línea Atención a Mujeres
        </li>
        <li><span class="icon number">166</span> Línea Transparencia
          Institucional </li>
      </ul>
    </div>
  </div>
</div>