h2 {
    text-align: left;
    font: normal normal 600 24px/36px Montserrat;
    letter-spacing: 0px;
    color: #004884;
    opacity: 1;
}

p {
    text-align: left;
    font: normal normal medium 20px/30px Montserrat;
    letter-spacing: 0px;
    color: #004884;
    opacity: 1;
}

ul {
    padding-left: 0rem !important;
}

li {
    text-align: left;
    font: normal normal normal 18px/31px Work Sans;
    letter-spacing: 0px;
    color: #4B4B4B;
    opacity: 1;
    display: flex;
}

.number {
    text-align: left;
    font: normal normal 600 18px/31px Montserrat;
    letter-spacing: 0px;
    color: #024884;
    opacity: 1;
    margin-right: 1em;
    min-width: 6.5rem;
}

.icon::before {
    margin-right: 1em;
    content: url('/assets/images/icons/telofono contorno.svg');
}

@media screen and (max-width: 1024px) {
    .ul {
        padding: unset !important
    }

    .ul li {
        width: 100%;
        padding: unset !important
    }
}

@media screen and (min-width: 992px) {
    ul {
        column-count: 2 !important
    }
}