header {
  background-color: #3366CC !important;
  padding-top: 0rem;
  font-family: "Montserrat", "Work Sans";
  border-bottom: 9px solid #3366CC;
  font-style: normal;
  width: 100%;
  height: auto;

  .boxbutton {
    display: -ms-flexbox;
    display: flex;
    gap: 5px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .logo {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
  }



  .register a {
    text-align: center;
    font: normal normal medium 16px/9px Work Sans;
    letter-spacing: 0px;
    color: #3366CC !important;
    opacity: 1;
    border-radius: 20px !important;
    padding: 0.5em 1em !important;
    border: 1px solid #fff !important;
    background-color: #fff !important;
    height: 42px !important;
  }

  .register a:hover {
    background-color: #004884 !important;
    color: #fff !important;
    transition: background-color .4s ease-out !important;
    -moz-transition: background-color .4s ease-out !important;
    -webkit-transition: background-color .4s ease-out !important;
  }

  .login a {
    text-align: center;
    font: normal normal medium 16px/9px Work Sans;
    letter-spacing: 0px;
    color: #fff !important;
    opacity: 1;
    border-radius: 20px !important;
    padding: 0.5em 1em !important;
    border: 1px solid #fff !important;
    background-color: #36c !important;
    height: 42px !important;
  }

  .login a:hover {
    background-color: #fff !important;
    color: #36c !important;
    transition: background-color .4s ease-out !important;
    -moz-transition: background-color .4s ease-out !important;
    -webkit-transition: background-color .4s ease-out !important;
  }

  @media only screen and (min-width: 220px) and (max-width: 768px) {
    .auxsize {
      justify-content: center !important;
    }

    .logo {
      display: flex;
      justify-content: center;
    }

    .register a {
      font-size: 0.87rem !important;
    }
  }

  @media only screen and (min-width: 568px) and (max-width: 768px) {
    .login a {
      font-size: 1rem !important;
    }
  }

}