<header>
  <div class="container pl-0 pr-0">
    <nav class="navbar-expand-lg navbar-expanded">
      <div class="row col-12  col-sm-12 col-md-12 px-0">
        <div class="row col-8 col-sm-12 col-md-8">
          <div class="col-lg-3 col-xl-2 px-0 logo">
            <a role="link" aria-label="Logo Gobierno de Colombia. Te llevará al inicio" href="javascript:void(0);"><img
                src="./assets/images/icons/Govco.svg" height="30" width="140"></a>
          </div>
        </div>
        <div class="d-flex col-4 col-sm-12 col-md-4 justify-content-end auxsize">
          <div class="boxbutton">
            <div class="mt-2 login ml-3"><a href="javascript:void(0);" class="btn btn-round"
                aria-label="Inicia sesión en GOV.CO" role="button">Inicia
                sesión</a></div>
            <div class="mt-2 register ml-3 ajuste-boton-registrar"><a href="javascript:void(0);" class="btn btn-round"
                aria-label="Regístrate en GOV.CO" role="button">Regístrate</a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>