.cards-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
    flex-flow: column;
    -ms-flex-pack: center;
    justify-content: center
}

h2 {
    text-align: left;
    font: normal normal 600 24px/36px Montserrat;
    letter-spacing: 0px;
    color: #004884;
    opacity: 1;
}

.p {
    text-align: left;
    font: normal normal normal 16px/24px Work Sans;
    letter-spacing: 0px;
    color: #4B4B4B;
    opacity: 1;
}

.containern {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
    flex-flow: column;

}

.image {
    border-radius: 5px
}

.image img {
    border-radius: 5px;
    width: 100%;
    height: 230px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center
}

.information .text {
    text-align: left;
    font: normal normal normal 14px/21px Work Sans;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}

.information .title {
    text-align: left;
    text-decoration: underline;
    font: normal normal 600 18px/27px Montserrat;
    letter-spacing: 0px;
    color: #004884;
    opacity: 1;
}

.btn-act .bt {
    border: 2px solid #3366CC;
    border-radius: 21px;
    opacity: 1;
}

.btn-act .bt:hover {
    background-color: #004884 !important;
    border: 2px solid #004884;
    color: #fff !important;

}