<div class="border-0 pt-5 pb-3">
  <div class="card-body container-lg">
    <div attr.aria-label={{actualidad.titulo}}>
      <h2>{{actualidad.titulo}}</h2>
      <p attr.aria-label="{{actualidad.descripcion}}">{{actualidad.descripcion}}</p>
    </div>
    <br>
    <div>
      <div class="row">
        <div *ngFor="let category of categories" class="col-lg-4">
          <a class="current-link" href="javascript:void(0);" role="link" attr.aria-label="{{category.textoAlternativo}}"
            title="{{category.titulo}}">
            <div class="containern">
              <div class="image"><img class="img" src="{{category.imagen}}" alt="Imagen decorativa"></div>
              <div class="information">
                <div class="text my-2">{{category.textoFecha}}</div>
                <div class="title">{{category.sumario}}</div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="row d-flex pt-5 justify-content-center"><span></span>
      <div class="col-12 col-sm-12 col-md-4 mt-2 mb-3 btn-act text-center"><a href="https://www.gov.co/noticias/"
          class="btn btn-round bt" role="button"
          attr.aria-label="{{actualidad.botonTexto}}">{{actualidad.botonTexto}}</a></div>
    </div>
  </div>
</div>